@model ContactFormViewModel

@{
    ViewData["Title"] = "ContactForm";
}

<h2>ContactForm</h2>

@using (Html.BeginForm("ContactForm", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(model => model.FirstName)
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName)
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.LastName)
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName)
        </div>
    </div>

    <div>
        @Html.LabelFor(model => model.Description)
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wyślij" class="btn btn-success" />
        </div>
    </div>
}