@model List<CarViewModel>

@{ 
    ViewData["Title"] = "GetAllCars";
}


@foreach(var car in Model)
{
    <div>

        <h2>@car.Model</h2>
        <h4>Producent: @car.Manufacturer</h4>
        <h4>Cena: @car.Price zł</h4>
        <img src="@Url.Content(car.Photo)" alt="@car.Model" />
        <hr />


    </div>
}