@model CarViewModel

@{ 
    ViewData["Title"] = "GetCarByModel";
}

<h2>GetCarByModel</h2>

<div>
    <h2>Model: @Model.Model</h2>
    <h4>Marka: @Model.Manufacturer</h4>
    <h4>Cena: @Model.Price zł</h4>
    <img src="@Url.Content(Model.Photo)", alt="@Model.Model" />
         
    </div>